{{ header }}
<div id="information-support" class="container">
  <div class="row">
    {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}
      <div class="row-mobile">
        <div class="support-header">
          <h1 class="support-h1">Поддержка вашего магазина 24/7</h1>
          <p>Обслуживание и техническая поддержка онлайн-касс, торгового оборудования и товароучетных систем. Все, что нужно для решения возникших проблем и поддержания работоспособности магазина. Оперативная помощь в экстренных ситуациях.</p>
          <button class="btn btn-orange" data-toggle="modal" data-target="#support-modal">Получить консультацию</button>
          <img src="/image/support-img.svg" alt="Получить консультацию">
        </div>
        <div class="support-receive">
          <h2 class="support-h1">Что вы получаете</h2>
          <div class="support-receive-inner">
            <div class="support-features flex-container">
              <div>
                <div class="receive-feature flex-container flex-center"><p>Обслуживание товароучетной системы</p></div>
                <div class="receive-feature flex-container flex-center"><p>Обслуживание торгового оборудования</p></div>
                <div class="receive-feature flex-container flex-center"><p>Консультация и удаленная помощь<br>7 дней в неделю с 9:00 до 22:00</p></div>
                <div class="receive-feature flex-container flex-center"><p>Информирование об окончании действия ЭЦП и фискальных накопителей</p></div>
              </div>
              <div>
                <div class="receive-feature flex-container flex-center"><p>Обслуживание кассовой техники</p></div>
                <div class="receive-feature flex-container flex-center"><p>Сдача алкогольной декларации</p></div>
                <div class="receive-feature flex-container flex-center"><p>Удаленное обучение работе в товароучетных системах</p></div>
                <div class="receive-feature flex-container flex-center"><p>Экстренная помощь в выходные<br>и праздничные дни</p></div>
              </div>
            </div>
          </div>
          <div class="support-try">
            <h3>Для новых клиентов 1 месяц обслуживания бесплатно</h3>
            <button class="btn" data-toggle="modal" data-target="#support-modal">Попробовать</button>
            <a href="/src/price-list.xlsx">Прайс-лист на услуги</a>
          </div>
        </div>
      {{ content_bottom }}
      </div>
    </div>
    {{ column_right }}
  </div>
</div>
<div id="support-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">
        <img src="image/src/support-modal-close.svg" alt="Закрыть">
      </button>
      <div class="modal-header">
        <h3 class="modal-h1 support-h1">Заявка на консультацию</h3>
        <p class="modal-subtext">После получения заявки с Вами свяжется менеджер</p>
      </div>
      <form class="modal-form" method="post" action="{{ action }}" enctype="multipart/form-data">
        <div class="modal-input">
          <div class="modal-input-row">
            <div class="modal-input-cell">
              <label class="modal-input-label" for="modal-input-name">Ваше имя</label>
            </div>
            <div class="modal-input-cell modal-input-inputcell">
              <input name="name" type="text" class="modal-input-input" id="modal-input-name" placeholder="Ваше имя" />
            </div>
          </div>
          <div class="modal-input-row">
            <div class="modal-input-cell">
              <label class="modal-input-label" for="modal-input-phone">Телефон</label>
            </div>
            <div class="modal-input-cell modal-input-inputcell">
              <input name="phone" type="phone" class="modal-input-input" id="modal-input-phone" placeholder="Телефон" />
            </div>
          </div>
        </div>
        <button name="submit" id="modal-input-submit" type="submit" class="btn btn-orange">Отправить</button>
      </form>
      <div class="modal-disclaimer">
        <p>Нажимая кнопку, вы подтверждаете согласие с нашей политикой обработки пресональных данных.</p>
      </div>
    </div>
  </div>
</div>
<script>
  
  $('#support-modal #modal-input-phone').mask('80000000000');

  $('#support-modal .modal-input input').on('keyup change', function(e) {
    $(this).removeClass('modal-input-warning');
  })

  function validateFields() {
    var valid = true;

    if ($('#support-modal #modal-input-name').val().length < 1) {
      valid = false;
      $('#support-modal #modal-input-name').addClass('modal-input-warning');
    }

    if ($('#support-modal #modal-input-phone').val().length < 1) {
      valid = false;
      $('#support-modal #modal-input-phone').addClass('modal-input-warning');
    }

    return valid;
  }

  $('#support-modal #modal-input-submit').click(function(e) {
    var $this = $(this);
    var text = $this.html();
    e.preventDefault();
    if (!validateFields()) {
      return;
    }

    $.ajax({
      url: '{{ action }}',
      type: 'POST',
      dataType: 'JSON',
      data: $('#support-modal .modal-input input'),
      beforeSend: function() {
        $this.html('<div class="lds-ring"><div></div><div></div><div></div><div></div></div>');
      }
    })
    .done(function(json) {
      console.log("success");
      if (json.success) {
        alert("Ваша заявка успешно отправлена, спасибо");
        $('#support-modal .modal-input input').val('');
      } else {
        alert("Ошибка отправки заявки, повторите попытку");
        console.log(json);
      }
    })
    .fail(function(jqXHR, textStatus, errorThrown) {
      console.log("error");
      alert("Ошибка отправки заявки, повторите попытку");
      console.log(jqXHR);
      console.log(textStatus);
      console.log(errorThrown);
    })
    .always(function() {
      console.log("complete");
      $this.html(text);
    });
    
  });
</script>
{{ footer }}