<footer>
  <div class="footer-wrapper">
    <div class="container">
      <div class="flex-container flex-justify mobile-block">
        <ul class="list-unstyled">
          <li><h3 class="header-2">Компания</h3></li>
          <li><a href="about">О нас</a></li>
          <li><a href="news">Новости</a></li>
          <li><a href="requisites">Реквизиты</a></li>
          <li><a href="hire">Вакансии</a></li>
          <li><a href="contacts">Контакты</a></li>
        </ul>
        <ul class="list-unstyled">
          <li><h3 class="header-2">Клиентам</h3></li>
          <li><a href="catalogue">Каталог</a></li>
          <li><a href="solutions">Готовые решения</a></li>
          <li><a href="service">Услуги</a></li>
          <li><a href="delivery">Доставка</a></li>
          <li><a href="support">Техническая поддержка</a></li>
        </ul>
        <ul class="list-unstyled">
          <li><h3 class="header-2">Партнерам</h3></li>
          <li><a href="provide">Предложить сотрудничество</a></li>
        </ul>
        <ul class="list-unstyled">
          <li><h3 class="header-2">Мы в социальных сетях</h3></li>
          <li class="footer-social flex-list">
            <a href="https://instagram.com/" target="_blank" rel="noopener noreferrer"><img src="image/src/inst.svg" alt="Instagram" title="Instagram"></a>
            <a href="https://wa.me/79249240332" target="_blank" rel="noopener noreferrer"><img src="image/src/ic-wa-footer.svg" alt="WhatsApp" title="WhatsApp"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright flex-container flex-center">
      <div class="container">
        <p class="navigation">© 2002 - {{ year }} Компания Среда Сервис</p>
      </div>
    </div>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

            {{_ocm_script}}
        
</body></html>