{{ header }}
<div id="account-account" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="account-menu account-main-menu {{ class }}">{{ content_top }}
      <h2 class="header-1">Учетная запись</h2>
      <ul class="list-unstyled">
        <li><a href="{{ edit }}"  class="header-3">Контактная информация</a></li>
        <li><a href="{{ address }}" class="header-3">Мои адреса</a></li>
        <li><a href="{{ password }}" class="header-3">Сменить пароль</a></li>
        <li><a href="{{ logout }}" class="header-3 feedback-error">Выйти из учетной записи</a></li>
      </ul>
      {% if credit_cards %}
      <h2 class="header-1">{{ text_credit_card }}</h2>
      <ul class="list-unstyled">
        {% for credit_card in credit_cards %}
        <li><a href="{{ credit_card.href }}" class="header-3">{{ credit_card.name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      <h2 class="header-1">Заказы</h2>
      <ul class="list-unstyled">
        <li><a href="{{ order }}" class="header-3">История заказов</a></li>
        {% if reward %}
        <li><a href="{{ reward }}" class="header-3">{{ text_reward }}</a></li>
        {% endif %}
        {# <li><a href="{{ transaction }}" class="header-3">{{ text_transaction }}</a></li> #}
      </ul>
{#      <h2>{{ text_my_affiliate }}</h2>
       <ul class="list-unstyled">
        {% if not tracking %}
        <li><a href="{{ affiliate }}">{{ text_affiliate_add }}</a></li>
        {% else %}
        <li><a href="{{ affiliate }}">{{ text_affiliate_edit }}</a></li>
        <li><a href="{{ tracking }}">{{ text_tracking }}</a></li>
        {% endif %}
      </ul> #}
      <h2 class="header-1">Подписки</h2>
      <ul class="list-unstyled">
        <li><a href="{{ newsletter }}" class="header-3">{{ text_newsletter }}</a></li>
      </ul>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}