{{ header }}
<div id="account-address" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1><a href="{{ back }}">Мои адреса</a></h1>
      <div class="account-addresses">
        {% if addresses %}
          {% for result in addresses %}
            <div class="account-address">
              {% if result.main_address %}
                <h2>{{ text_main_address }}</h2>
              {% endif %}
              <h3>{{ result.name }}</h3>
              <p class="paragraph">{{ result.address }}</p>
              <div class="account-address-buttons flex-container flex-center flex-list">
                <a href="{{ result.update }}" class="btn">{{ button_edit }}</a>
                <a href="{{ result.delete }}" class="btn btn-remove">{{ button_delete }}</a>
              </div>
            </div>
          {% endfor %}
        {% else %}
        <p class="header-3">{{ text_empty }}</p>
        {% endif %}
        <div class="buttons">
          <a href="{{ add }}" class="btn btn-primary">{{ button_new_address }}</a>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>
  $('.account-address-buttons .btn-remove').click(function(event) {
    if (!confirm('Вы действительно хотите удалить адрес?')) {
      event.preventDefault();
    } 
  });
</script>
{{ footer }}