{{ header }}
<div id="account-login" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>Вход в личный кабинет</h1>
      <p class="header-3" style="margin-bottom: 16px;">Нет аккаунта? <a href="{{ register }}">Нажмите для регистрации</a></p>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
          <div class="col-sm-10">
            <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>
          <div class="col-sm-10">
            <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
            <a href="{{ forgotten }}" class="primary" style="display: inline-block; margin-top: 16px;">{{ text_forgotten }}</a>
          </div>
        </div>
        <div class="buttons">
          <input type="submit" value="{{ button_login }}" class="btn btn-primary" />
          {% if redirect %}
          <input type="hidden" name="redirect" value="{{ redirect }}" />
          {% endif %}
        </div>
      </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}