{{ header }}
<div id="account-order" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1><a href="{{ continue }}">{{ heading_title }}</a></h1>
      <div class="account-orders">
        {% if orders %}
          {% for order in orders %}
            <a href="{{ order.view }}" class="account-order flex-container flex-center flex-justify flex-list">
              <div>
                <p class="header-3">Заказ № {{ order.order_id }}</p>
                <p>{{ order.products }} {% if (order.products % 100 >= 11 and order.products % 100 <= 19) or order.products % 10 >= 5 or order.products % 10 == 0 %}товаров{% elseif order.products % 10 == 1 %}товар{% else %}товара{% endif %}</p>
              </div>
              <div class="flex-container flex-center">
                <div class="right">
                  <p class="order-date">{{ order.date_added }}</p>
                  <p>{{ order.total }}</p>
                </div>
                <img class="order-view" src="/image/src/account-order-arrow.svg">
              </div>
            </a>
          {% endfor %}
        {% else %}
        <p>{{ text_empty }}</p>
        {% endif %}
      </div>
      {% if orders %}
      <div class="flex-container flex-center flex-justify flex-list">
        <div>{{ pagination }}</div>
        <div>{{ results }}</div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
