{{ header }}
<div id="account-order" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1><a href="{{ continue }}">Заказ № {{ order_id }}</a></h1>
      <div class="account-order-info">
        <div class="account-order-info-text">
          <div>
            <p class="header-3 account-order-label">Дата заказа:</p>
            <p>{{ date_added }}</p>
          </div>
          <div>
            <p class="header-3 account-order-label">Имя и фамилия:</p>
            <p>{{ firstname }}</p>
          </div>
          <div>
            <p class="header-3 account-order-label">Почта:</p>
            <p>{{ mail }}</p>
          </div>
          <div>
            <p class="header-3 account-order-label">Телефон:</p>
            <p>{{ telephone }}</p>
          </div>
          <div>
            <p class="header-3 account-order-label">Адрес:</p>
            <p>{{ address_1 }}</p>
          </div>
          <div>
            <p class="header-3 account-order-label">Способ оплаты:</p>
            <p>{{ payment_method }}</p>
          </div>
          <div>
            <p class="header-3 account-order-label">Способ доставки:</p>
            <p>{{ shipping_method }}</p>
          </div>
          {% if shipping_address %}
          <div>
            <p class="header-3 account-order-label">Адрес доставки:</p>
            <p>{{ shipping_address }}</p>
          </div>
          {% endif %}
        </div>
        <div class="account-order-table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr class="header-3">
                <td class="text-left">Товар</td>
                <td class="text-left model">Артикул</td>
                <td class="text-right quantity nowrap">Кол-во</td>
                <td class="text-right price nowrap">Цена</td>
                <td class="text-right total nowrap">Всего</td>
              </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
              <td class="text-left"><a href="{{ product.href }}" class="secondary">{{ product.name }}
                {% for option in product.option %}
                  <br /><small>{{ option.name }}: {{ option.value }}</small>
                {% endfor %}
                </a>
              </td>
              <td class="text-left model">{{ product.model }}</td>
              <td class="text-right quantity nowrap">{{ product.quantity }}</td>
              <td class="text-right price nowrap">{{ product.price }}</td>
              <td class="text-right total nowrap">{{ product.total }}</td>
            </tr>
            {% endfor %}
            {#% for voucher in vouchers %}
            <tr>
              <td class="text-left">{{ voucher.description }}</td>
              <td class="text-left"></td>
              <td class="text-right">1</td>
              <td class="text-right">{{ voucher.amount }}</td>
              <td class="text-right">{{ voucher.amount }}</td>
              {% if products %}
              <td></td>
              {% endif %} </tr>
            {% endfor %#}
            </tbody>
          </table>
        </div>
        <div class="account-order-totals table-responsive">
          <table class="table">
            {% for total in totals %}
            <tr>
              <td class="text-left header-3">{{ total.title }}</td>
              <td class="text-right nowrap">{{ total.text }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}