<h2>Бестселлеры</h2>
{% for product in products %}
	<div class="product-layout product-home-layout product-grid {% if limit == 4 %} col-md-6 col-sm-12 col-xs-6 {% endif %} {% if limit == 6 %} col-md-4 col-sm-6 col-xs-4 {% endif %}">
	  <div class="product-thumb">
	    {% if product.special %}
	      <p class="product-special header-3 primary-bg text-high-d">Акция</p>
	    {% endif %}
	    <div class="product-thumb-layout flex-container">
	      <a href="{{ product.href }}" class="image">
	        <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"/>
	      </a>
	      <div id="product_id-{{ product.product_id }}" class="product-thumb-desc product-js">
	        <div class="product-thumb-title flex-container flex-center flex-justify">
	          <h3 class="subparagraph"><a href="{{ product.href }}">{{ product.name }}</a></h3>
	          {% if product.price %}
	              <div class="product-price flex-container flex-center">
	              {% if not product.special %}
	                  <p class="header-2 price" data-price="{{ product.price_raw }}">{{ product.price }}</p>
	              {% else %}
	                  <p class="header-2 price" data-price="{{ product.price_raw }}">{{ product.special }}</p>
	                  <p class="price-old caption text-disabled">{{ product.price }}</p>
	              {% endif %}
	              </div>
	          {% endif %}
	        </div> 
	      </div>
	    </div>
	  </div>
	</div>
{% endfor %}