{{ header }}
<div id="common-home" class="container">
  <div class="row">
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
        <div class="category-block flex-container flex-center flex-wrap">
            {% for category in categories %}
                <div class="col-sm-6 col-xs-12 col-md-4">
                    <a href="{{ category.href }}" class="category-block-cat flex-container flex-center">
                        <img src="{% if category.thumb %}{{ category.thumb }}{% else %}/image/placeholder.png{% endif %}">
                        <h2>{{ category.name }}</h2>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
  </div>
</div>
<div class="home-subscribe">
    <div class="container">
        <div class="home-subscribe-container flex-container flex-center flex-justify">
            <div class="home-subscribe-skidka">
                <p>-500 ₽</p>
                <p>за подписку</p>
            </div>
            <p class="home-subscribe-desc header-3">Подпишись на рассылку и получи<br>скидку 500 ₽ на первую покупку</p>
            <form>  
                <div class="home-subscribe-form flex-container">
                    <img src="/image/src/ic-mail.svg">
                    <input type="text" placeholder="Введите e-mail" name="email">
                    <button type="submit" name="submit"><img src="/image/src/ic-ok.svg"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="{{ class }}"> 
        {{ content_bottom }}
        <div style="text-align: center; font-family: Montserrat; font-style: normal; font-weight: bold; font-size: 32px; line-height: 40px; margin-bottom: 32px;">Новости</div>
        <div style="display: flex; flex-direction: row; "> 
          <div style="width: 612px; height: 480px;"><img src="\admin\view\image\main.jpg"></div>
            <div style="display: flex; flex-direction: column;">
               <div style="width: 298px; height: 232px; display: flex; margin-left: 16px;"><img src="\admin\view\image\1.jpg"></div>
               <div style="width: 298px; height: 232px; display: flex; margin-left: 16px; margin-top: 16px;"><img src="\admin\view\image\2.jpg"></div>
            </div>
            <div style="display: flex; flex-direction: column;">
              <div style="width: 298px; height: 232px; margin-left: 16px;"><img src="\admin\view\image\3.jpg"></div>
              <div style="width: 298px; height: 232px; margin-left: 16px; margin-top: 16px;"><img src="\admin\view\image\4.jpg"></div>
            </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}